.main {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}

.select-image figure {
  cursor: pointer;
}

.select-image figure img {
  border: 3px solid transparent;
}

.select-image .is-active img,
.select-image figure:hover img {
  border: 3px solid var(--bs-primary);
}

.select-subtitle tbody tr:hover {
  cursor: pointer;
}

.select-subtitle tbody .is-active {
  color: var(--bs-light);
  background-color: var(--bs-primary);
}

.select-subtitle tbody .credit {
  display: block;
  direction: rtl;
  color: var(--bs-danger);
}

.select-subtitle tbody .is-active .credit {
  color: var(--bs-light);
}

.select-subtitle tbody .is-active:hover td {
  color: var(--bs-light);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.animate-fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}
